#recoveredPercentage, #deathPercentage, #deathPercentageYemen, #recoveredPercentageYemen   {
    background-color: rgb(204, 203, 198);
    padding: 4px 9px;
    border-radius: 10px;
    color: rgb(87, 86, 86);
}
.global {
    border-right: 1px dotted rgb(255, 255, 255);  
    
}
.global .s6 {
    padding: 3px 5px !important;
    border-left: 2px solid rgb(221, 217, 217);
    height: 80px;
}
.global .s6:nth-last-child(4) {
    border-left: none;
}

.main-cards {
    padding: 0px !important ;
    margin: 0;
    background-color: #eee;
}
.yemenData {
    color: rgb(87, 86, 86);
    background-color: #e4e4e4;
}
i.fas {
    font-size: 3rem;
    padding: 16px 0;
}
h4 {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 990px) {
    .global .s6 {
        height: auto;
        border-left: none;
    }
    .main-cards h5, h6 {
        font-size: 1.5rem;
    }
}