#recoveredPercentage, #deathPercentage, #deathPercentageYemen, #recoveredPercentageYemen   {
    background-color: rgb(202, 196, 196);
    padding: 4px 9px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.global {
    border-right: 1px dotted rgb(255, 255, 255);   
    
}
.global .s6 {
    padding: 3px 5px !important;
    border-left: 2px solid rgb(221, 217, 217);
    height: 80px;
}
.global .s6:nth-last-child(4) {
    border-left: none;
}

.main-cards {
    padding: 0px !important ;
    margin: 0;
    background-color: rgb(243, 243, 236);

}
.yemenData {
    background: #eee;
    color: rgb(87, 86, 86);
}

@media screen and (max-width: 990px) {
    .global .s6 {
        height: auto;
        border-left: none;
    }
    .main-cards h5, h6 {
        font-size: 1.5rem;
    }
}