body {
    font-family: 'Almarai', sans-serif;

}

::selection {
    background-color: rgba(240, 204, 46, 0.733);
    color: #353434;
}
.title {
    color: #444442 !important;
}
.stickyHead th {
    position: sticky !important;
    top: -1px;
    background-color: #444;
    

}
td, th {
    padding: 4px 0 !important;
    font-size: 1.5rem !important;
    border-radius: 0;
    text-align: center;
}
td,th {
    border: 1px dotted rgba(201, 198, 198, 0.7) !important;
}
th{
    font-size: 1.3rem !important;
    padding: 10px 10px !important;

}

thead {
    background-color: #5d5d5e  !important;
    color: rgb(238, 232, 232) ;
}
.thehead {
    background-color: #c8c9d1 !important;
    color: #18181a ;
}
.thehead:hover{
 background-color: #b6b7bd !important;

}
.deaths {
    background-color: #c42323b7;
    color: #eee;

}
.recovered {
    background-color: #278024c2;
    color: #eee;
}
.country {
    word-wrap: wrap;
    text-align:  left;
    width: min-content !important;
}
.newDeaths {
    background-color: #c42323dc;
    color: #eee;
}

@media screen and (max-width: 640px){
    th, thead {
        font-size: 1rem !important;
    }
    
    .stickyHead th{
        background: none !important;
        position: initial !important;
    }
    tr, td {
        font-size: 1.4rem !important;
        padding: 6px 22px !important;
        height: fit-content !important;
    }
}
/* h4,h3 {
    margin: 0 !important;
    padding: 0 !important;
} */

.h4{
    padding: 10px 0 ;
    color: #eee !important;
}
.line {
    border-right: 1px solid rgba(165, 160, 160, 0.692);
}
.line:last-child {
    border-right: none;
}

input {
    text-align: center;
    background-color: #eee !important;
}
@media screen and (max-width: 640px) {
    .line {
        border-right: none;
       
    }
    .h3 {
        border-bottom: 1px dotted rgba(165, 160, 160, 0.692);
        font-size: 1.6rem;
        font-weight: bold;
        padding: 4px 0;
    }
}

@media screen and (max-width: 992px) {
    .swap {
        display: initial !important;
    }
}

.swap {
    display: none;
}
